.content {
  margin-top: 100px;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: cadetblue;
  padding: 15px;
}

.error {
  font-size: 200px;
  font-weight: bold;
  color: cadetblue;
  text-align: center;
  margin-top: 10%;
}

.btn-outline-primary {
  color: cadetblue !important;
  border-color: cadetblue !important;
  float: right;
  margin-bottom: 10px;
}

.btn-outline-primary:hover {
  background-color: cadetblue !important;
  color: white !important;
}

th {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link {
  color: white !important;
  background-color: cadetblue;
  border-color: cadetblue;
}

.page-link {
  color: cadetblue !important;
}
